$white: #FFFFFF;
$offWhite: #FAFAFA;
$midWhite: #F5F5F5;
$darkWhite: #E8E8E8;
$lightGray: #C8C8C8;
$lightMidGray: #A8A8A8;
$midGray: #6E6E6E;
$darkGray: #474747;
$black: #262626;
$lightGreen: #DAF8DF;
$green: #00A980;
$darkGreen: #009974;
$lightCobalt: #4A92F6;
$cobalt: #3B55AF;
$purple: #660099;
$orange: #FF947C;

$warning: #FFF9EB;
$warningDark: #C6AA64;

$success: #B6DCBE;
$successLight: #DAF8DF;
$successDark: #2F7037;

$error: #F3C5C5;
$errorLight: #FDE9E6;
$errorDark: #BD312E;

$infoLight: #F5FAFF;

$newFeature: #CEA9FE;
$newFeatureLight: #FCFAFF;
$newFeatureMedium: #F0E4FF;
$newFeatureDark: #7438FE;

$googleBlue: #1A0DAB;
$googlePurple: #660099;
