# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules


# production
/build
/build-browser
/build-debug

.env
.env.local
.env.development.local
.env.production.local
.history

# secrets
secrets.*.js

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# CI
package-chrome/
package-browser/


# CI Performance Comparison

# Local dev

.tscGenerated/

# jetbrains
.idea

*.zip
